.footer{
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  grid-row: 7 / 8;
  padding: 3rem;

}



.copyright{
  font-size: 1.4rem;
  color: $color-grey-light-1;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}
